.album {
  &.header {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 20px;
    color: $white;
    .sub.header {
      color: $white;
      &.details {
        font-size: 1rem;
        margin-top: 5px;
      }
    }
  }
}
