.date-picker {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-flow: column;
  -moz-flex-flow: column;
  -ms-flex-flow: column;
  -o-flex-flow: column;
  flex-flow: column;
  flex-flow: column;
  -webkit-box-flex: 1 0 auto;
  -moz-box-flex: 1 0 auto;
  -ms-box-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
}
.date-picker,
.date-picker * {
  box-sizing: border-box;
}
.date-picker .dp-footer {
  flex-direction: row;
  -webkit-flex-flow: row;
  -moz-flex-flow: row;
  -ms-flex-flow: row;
  -o-flex-flow: row;
  flex-flow: row;
  flex-flow: row;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.date-picker .dp-body {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-flow: column;
  -moz-flex-flow: column;
  -ms-flex-flow: column;
  -o-flex-flow: column;
  flex-flow: column;
  flex-flow: column;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.date-picker .dp-table {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-flow: column;
  -moz-flex-flow: column;
  -ms-flex-flow: column;
  -o-flex-flow: column;
  flex-flow: column;
  flex-flow: column;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.date-picker .dp-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-flow: row;
  -moz-flex-flow: row;
  -ms-flex-flow: row;
  -o-flex-flow: row;
  flex-flow: row;
  flex-flow: row;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.date-picker .dp-cell {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  flex-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.date-picker .dp-nav-table {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-flow: row;
  -moz-flex-flow: row;
  -ms-flex-flow: row;
  -o-flex-flow: row;
  flex-flow: row;
  flex-flow: row;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  width: 100%;
}
.date-picker .dp-nav-table .dp-cell {
  -webkit-box-flex: 7;
  -moz-box-flex: 7;
  -ms-box-flex: 7;
  -ms-flex: 7;
  -webkit-flex: 7;
  flex: 7;
}
.date-picker .dp-nav-table .dp-nav-cell {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.date-picker {
  overflow: hidden;
  background: #fff;
  font-size: 14px;
  width: 40%;
  height: 100%;
  border: 1px solid #a8a8a8;
}
.date-picker .dp-table {
  border-color: #a8a8a8;
}
.date-picker .dp-table .dp-row {
  border-top: 1px solid #a8a8a8;
}
.date-picker .dp-table .dp-row:last-child {
  border-bottom: 1px solid #a8a8a8;
}
.date-picker .dp-table .dp-cell {
  cursor: pointer;
  padding: 5px;
  background: inherit;
}
.date-picker .dp-table .dp-cell:not(:first-child) {
  border-left: 1px solid #a8a8a8;
}
.date-picker .dp-table .dp-cell.dp-prev,
.date-picker .dp-table .dp-cell.dp-next {
  color: #5c5c5c;
  background: inherit;
}
.date-picker .dp-table .dp-cell.dp-in-range {
  background: #e2f0ff;
}
.date-picker .dp-table .dp-cell:hover {
  color: inherit;
  font-weight: inherit;
  background: #eee;
}
.date-picker .dp-table .dp-cell.dp-disabled {
  cursor: default;
  color: #adadad;
  background: inherit;
}
.date-picker .dp-table .dp-cell.dp-value {
  color: #000;
  font-weight: bold;
  background: #eee;
}
.date-picker .dp-table .dp-cell.dp-current {
  color: #2e99eb;
  background: inherit;
}
.date-picker .dp-table .dp-cell.dp-in-range.dp-current,
.date-picker .dp-table .dp-cell.dp-in-range.dp-value {
  background: #e2f0ff;
}
.date-picker .dp-table .dp-cell.dp-month {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.date-picker .dp-table .dp-cell.dp-week-day-name {
  font-weight: bold;
  cursor: default;
  background: inherit;
}
.date-picker .dp-footer {
  padding: 3px;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  flex-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top-width: 0px;
}
.date-picker .dp-footer .dp-footer-selected,
.date-picker .dp-footer .dp-footer-today {
  padding: 5px 15px;
  border-width: 1px;
  cursor: pointer;
}
.date-picker .dp-body {
  overflow: hidden;
}
.date-picker .dp-nav-view,
.date-picker .dp-nav-cell,
.date-picker .dp-week-day-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.date-picker .dp-nav-view,
.date-picker .dp-nav-cell {
  cursor: pointer;
}
.date-picker .dp-nav-cell {
  background: inherit;
}
.date-picker .dp-nav-cell:hover {
  background: #eee;
}
.date-picker .dp-nav-view {
  background: inherit;
}
.date-picker .dp-nav-view:hover {
  background: #eee;
}
.date-picker .dp-nav-table .dp-cell {
  border-top-width: 0px;
  border-bottom-width: 0px;
  padding: 8px;
  font-weight: bold;
}
.date-picker .dp-decade-view,
.date-picker .dp-year-view,
.date-picker .dp-month-view {
  touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
