$white: #ffffff;
$grey: #F6F6F6;

$font-normal: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;

$primary-color: #ff4020;
$nav-border: #c6ccd2;
$item-background: #f2f5f8;

$default-border-radius: 0.5rem;

$default-font-family: 'Lato', sans-serif;
