.footer {
  background-color: #E6EAEF;
  bottom: -15px;
  position: absolute;
  width: 100%;
  padding-bottom: 35px !important;
  .hrt {
    font-size: 1rem;
    span {
      margin-right: 4px;
    }
  }
  .ui.grid.page {
    margin-top: 15px; 
  }
  .ui.horizontal.celled.list {
    > .item {
      font-size: 1rem;
      font-weight: $font-normal;
    }
  }
}
