html {
  position: relative;
  min-height: 100%;
  height: auto;
  background-color: $grey;
  font-family: $default-font-family !important;
}

body {
  background-color: $grey;
  font-family: $default-font-family !important;
}

h2, h3 {
  &.ui.header {
    color: $primary-color
  }
}

.ui.header {
  font-weight: 400;
}

.ui.card {
  border-radius: 2px;
  box-shadow: 0px 1px 3px 0px #d4d4d5, 0px 0px 0px 0px #d4d4d5;
  &:hover {
    box-shadow: 0px 4px 9px 3px #d4d4d5, 0px 0px 0px 1px #d4d4d5;
  }
  .image {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
  .content {
    padding: 0.6em;
  }
}

.hidden {
  display: none !important;
}

.main {
  margin-top: 40px !important;
  margin-bottom: 70px !important;
}

.no-padding {
  padding: 0 !important;
}

.ui.items {
  .item {
    &.background {
      background-color: $item-background;
      border-radius: $default-border-radius;
      padding: 1em;
      h3 {
        font-size: 1.2rem;
        margin: 0;
      }
    }
    a {
      color: rgba(0, 0, 0, 0.4);
    }
  }
}

.ui.button.float {
  position: absolute;
  top: 0;
  right: 0;
  width: 26px;
  padding: 5px;
  background-color: transparent;
  color: #fff;
}

.messages {
  margin-bottom: 1px !important;
}

.ui.modal {
  top: 15% !important;
  margin-top: 0 !important;
}

.artistInput, .recordLabelInput, .siteSearch {
  .message.empty {
    display: none;
  }
}

.ui.menu.action {
  .item {
    padding: 0.60em 1.14em;
  }
}

@media all and (max-width:768px) {
  .ui.card {
    margin: 0 auto;
  }
}