.ui {
  &.menu {
    &.top.attached.main-menu {
      border-radius: 0;
      box-shadow: 0 0 24px 0 rgba(0,0,0,0.25) !important;
      background-color: $white;
    }
    .item {
      font-size: 1.146rem;
      &:before {
        width: 0;
      }
    }
    .logo {
      background-color: $primary-color !important;
      color: $white !important;
      height: 46px;
      margin-left: 0 !important;
      border-radius: 0 !important;
    }
    .search-container {
      width: 40%;
      @media all and (max-width: 1200px) {
        width: 30%;
      }
      @media all and (max-width: 900px) {
        width: 25%;
      }
      @media all and (max-width: 800px) {
        width: 20%;
      }
    }
    @media all and (max-width: 1015px) {
      .right.menu {
        .item {
          padding: 0.71428571em 0.02857143em;
        }
      }
    }
    &.mobile {
      .logo {
        height: auto;
      }
    }
  }
}
