.card.player {
  border-radius: 0 !important;
}
.card.player .progress {
  margin-bottom: 0 !important;
  border-radius: 0 !important;
}
.card.player .progress .bar {
  border-radius: 0 !important;
}
.card.player .controls {
  width: 100%;
}
.card.player .controls .play-pause {
  width: 18%;
  float: left;
  border-radius: 0;
  padding: 2px;
}
.card.player .controls .details {
  width: 80%;
  float: left;
  padding: 5px;
}
.card.player .controls .play.icon, .card.player .controls .pause.icon {
  font-size: 2em;
  margin: 10px 20px;
  line-height: 1em;
}
