.react-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  overflow: hidden;
  padding-left: 5px;
  padding-top: 5px;
}

.react-tagsinput-tag {
  background-color: #cde69c;
  border-radius: 2px;
  border: 1px solid #a5d24a;
  color: #638421;
  display: inline-block;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px;
}

.react-tagsinput-remove {
  cursor: pointer;
  font-weight: bold;
}

.react-tagsinput-remove:before {
  content: " x";
}

.react-tagsinput-input {
  font-weight: 400;
  border: none !important;
  width: 70px !important;
  height: 32px !important;
  padding: 5px 4px !important;
}

.react-tagsinput-invalid {
  background-color: #fbd8db;
  color: #90111a;
}

.react-tagsinput-validating {
  background: #fffacd;
}
