/*******************************
         Site Overrides
*******************************/

html {
  font-family: 'Lato', sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
