<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" href="/images/favicon.png">
    <!--<script src="//load.sumome.com/" data-sumo-site-id="84801ba91014813a850cb0647794e1e9fe321c1106619269899d2ce611371ced" async="async"></script>-->
    <script type="text/javascript" src="//news.midtube.com/shared/ghost-url.min.js"></script>
</head>
